header {
    background: #d6e4f0;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: solid 1px #222;
}

td,
th {
    margin: 0 20px;
}

th {
    width: 30%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

main {
    color: #333;
    margin-top: 70px;
}

a{
    color: #122;
}

#memubtn{
    margin: 0 20px;
}

.main-info {
    aspect-ratio: 1/1;
    margin: auto;
    width: 50%;
    min-width: 100px;
    max-width: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: solid 3px #333;
}

.mater {
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    line-height: 1px;
}

.mater p {
    font-size: 1em;
}

.mater .speed {
    font-size: 2em;
}

.sub-info {
    border-radius: 20px;
    margin: 30px 20px;
    padding: 20px;
    min-width: 100px;
    background: #d6e4f0;
}

#on_dia {
    border: solid 1px #555;
    background: gray;
    width: 80%;
}

#on_off_btn {
    float: right;
    margin: 0 20px;
    border: none;
    border-radius: 10px;
    background: #a01e1e;
    height: 30px;
    width: 80px;
}

.btntobtn{
    background: #1e56a0;
    border: solid 1px #000;
    border-radius: 10px;
    padding: 10px 30px;
}

.dialogclose{
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
}

.dialogclose img{
    width: 30px;
}

.main-memu{
    display: inline-block;
}

.main-memu button{
    border: none;
    background: none;
}

.main-memu img{
    color: #333;
    border: none;
    background: none;
    height: 30px;
}

dialog{
    color: #333;
    width: 80%;
    background: #d6e4f0;
    border: none;
    padding-top: 10px;
    border-radius: 8px;
    padding: 10px;
    position: relative;
}

dialog::backdrop{
    background: rgba(34, 34, 34, 0.8);
}

#err_dia{
    background: #f33;
}

#info_dia{
    text-align: center;
}

@media screen and (min-width:768px) {
    dialog{
        width: 60%;
    }
}

/* dark mode */
.dark main {
    color: #999;
}

.dark a{
    color: #acc;
}

.dark{
    background: #1a1a1a;
}

.dark header{
    background: #111;
}

.dark .sub-info{
    background: #111;
}

.dark dialog{
    background: #111;
    color: #999;
}

#svglogo{
    fill: #333;
}
